@page "/"


@inject ILocalStorageService localStorage
@inject IWeightPlatesService weightPlatesService

<PageTitle>Weight Plates Calculator</PageTitle>


<div class="container">

    <div class="py-4 text-center">

        <img class="d-block mx-auto mb-4" src="/Weight-Plate-Lifting-Pin-Logo_72-101.png" alt="A logo image of a weight lifting pin. Image generated using ChatGPT." 
            title="A logo image of a weight lifting pin. Image generated using ChatGPT." width="72" height="101">
        <h1>Weight Plates Calculator</h1>
        <p class="lead">This app helps you quickly find the right weight plates to reach your target weight, whether you're using a single or double-ended lifting device. 
            It works offline and can remember your preferences using local storage, so it's ready whenever you need it.</p>
    </div>

    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h3 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Personalise App</span>
            </h3>

            <button type="button" class="btn btn-info" @onclick="ToggleDisplayPersonaliseForm">Personalise App</button>
            <br />


            @if (displayPersonaliseForm)
            {
                <br />

                <EditForm Model="newWeightCalculation" OnValidSubmit="SavePersonalisationsAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="alert alert-warning" role="alert">
                        To personlise your experience, this app will store non-essential data on your device. 
                    </div>

                    <div class="input-group mb-3">
                        <div class="me-3">
                            <InputCheckbox class="form-check-input mt-0 align-middle" id="newWeightCalculation.CookiesAccepted" @bind-Value="newWeightCalculation.CookiesAccepted" />
                            <label for="newWeightCalculation.CookiesAccepted" class="form-label alert-warning p-1">Accept use of local storage?</label>
                        </div>
                    </div>

                    <h4>Weight Plate Counts</h4>

                    @{
                        foreach (var weight in newWeightCalculation.WeightsAvailable)
                        {
                            var weightId = $"weight{weight.Weight}";
                            <div class="form-floating mb-3">
                                <InputNumber id="weightId" class="form-control" @bind-Value="weight.Count"></InputNumber>
                                <label for="weightId">@weight.Weight kg:</label>
                            </div>
                        }
                    }

                    <h4>Lifting Device Plate Maximums</h4>

                    @{
                        foreach (var liftingDevice in newWeightCalculation.LiftingDevicesAvailable)
                        {
                            var endsCountId = $"liftingDevice.EndsCount{liftingDevice.EndsCount}";
                            <div class="form-floating mb-3">
                                <InputNumber id=@endsCountId class="form-control" @bind-Value="liftingDevice.MaxPlatesPerEnd"></InputNumber>
                                <label for=@endsCountId>@liftingDevice.EndsCount ended - max per end:</label>
                            </div>
                        }
                    }

                    @{
                        savePersonalisationsDisabled = newWeightCalculation.CookiesAccepted ? false : true;
                    }
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success" disabled=@savePersonalisationsDisabled>Save</button>
                        <button type="button" class="btn btn-outline-danger" disabled="@deletePersonalisationsDisabled" @onclick="DeletePersonalisationAsync">Remove</button>
                    </div>
                    </EditForm>
            }
        </div>

        <div class="col-md-7 col-lg-8">
            <h3 class="d-flex justify-content-between align-items-center mb-3">
                Weight Calculation
            </h3>

            <ul hidden=@weightPlateCalculatorErrorMessageHidden>
                <li class="text-danger">@weightPlateCalculatorErrorMessage</li>
            </ul>

            <EditForm Model="newWeightCalculation" OnValidSubmit="CalculateRequiredWeightPlates">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row g-3">
                    <div class="col-sm-6">

                        <div class="form-floating">
                            <InputNumber id="newWeightCalculation.TargetWeight" class="form-control" @bind-Value="newWeightCalculation.TargetWeight"></InputNumber>
                            <label for=newWeightCalculation.TargetWeight>Target Weight (kg): </label>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="form-floating mb-3">
                            <InputSelect class="form-control" @bind-Value="newWeightCalculation.LiftingDeviceSelected">
                                @foreach (var device in Enum.GetValues<LiftingDeviceEndsOption>())
                                {
                                    <option value="@device">@Enum.GetName(device) ended</option>
                                }
                            </InputSelect>
                            <label for=newWeightCalculation.LiftingDeviceSelected>Lifting device: </label>
                        </div>


                    </div>
                </div>

                <button type="submit" class="btn btn-success">Calculate</button>
            </EditForm>
            <div class="col-12">


                @{
                    if (newWeightCalculation.WeightsSelectedPerEnd.Where(x => x.Count > 0).Count() > 0)
                    {
                        <div class="col-12 mt-4">
                            <h3>Result</h3>

                            <table class="table table-responsive table-striped">

                                <thead>
                                    <tr>
                                        <th>Weight (kg)</th>
                                        <th>Count (weight plates per end)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in newWeightCalculation.WeightsSelectedPerEnd.Where(x => x.Count > 0))
                                    {
                                        <tr>
                                            <th>@item.Weight</th>
                                            <th>@item.Count</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>



