@page "/"


@inject ILocalStorageService localStorage
@inject IWeightPlatesService weightPlatesService

<PageTitle>Weight Plates Calculator</PageTitle>

<h1>Weight Plates Calculator</h1>


<button type="button" class="btn btn-info" @onclick="ToggleDisplayPersonaliseForm">Personalise App</button>
<br />

@if (displayPersonaliseForm)
{
    @* should this be a seperate component? *@
    <div class="m-3">
        <EditForm Model="newWeightCalculation" OnValidSubmit="SavePersonalisationsAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />


            <div class="input-group mb-3">
                <div class="me-3">
                    <InputCheckbox class="form-check-input mt-0" id="newWeightCalculation.CookiesAccepted" @bind-Value="newWeightCalculation.CookiesAccepted" />
                    <label for="newWeightCalculation.CookiesAccepted" class="form-label alert-warning p-1">Are you happy for this app to store non-essentials data on your device?</label>
                </div>
            </div>


            @{
                foreach (var weight in newWeightCalculation.WeightsAvailable)
                {
                    <div class="input-group mb-3">
                        <span for="weight.Count" class="input-group-text">@weight.Weight kg</span>
                        <InputNumber id="weight.Count" class="form-control" @bind-Value="weight.Count"></InputNumber>
                    </div>
                }
            }

            @{
                foreach (var liftingDevice in newWeightCalculation.LiftingDevicesAvailable)
                {
                    <div class="input-group mb-3">
                        <span for="liftingDevice.EndsCount" class="input-group-text">@liftingDevice.EndsCount</span>
                        <InputNumber id="liftingDevice.EndsCount" class="form-control" @bind-Value="liftingDevice.MaxPlatesPerEnd"></InputNumber>
                    </div>
                }
            }


            @{
                savePersonalisationsDisabled = newWeightCalculation.CookiesAccepted ? false : true;
            }

            <button type="submit" class="btn btn-success" disabled=@savePersonalisationsDisabled>Save Personalisations</button>
            <button type="button" class="btn btn-outline-danger" disabled="@deletePersonalisationsDisabled" @onclick="DeletePersonalisationAsync">Remove Personalisations</button>
        </EditForm>
    </div>
}

<div class="m-3">
    <EditForm Model="newWeightCalculation" OnValidSubmit="CalculateRequiredWeightPlates">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="input-group mb-3">
            <span for="newWeightCalculation.TargetWeight" class="input-group-text">Target Weight (kg)</span>
            <InputNumber id="newWeightCalculation.TargetWeight" class="form-control" @bind-Value="newWeightCalculation.TargetWeight"></InputNumber>
        </div>

        <div class="input-group mb-3">
            <span for="newWeightCalculation.LiftingDeviceSelected" class="input-group-text">Lifting Device (ends)</span>
            <InputSelect class="form-control" @bind-Value="newWeightCalculation.LiftingDeviceSelected">
                @foreach (var device in Enum.GetValues<LiftingDeviceEndsOption>())
                {
                    <option value="@device">@Enum.GetName(device)</option>
                }
            </InputSelect> 
        </div>



        <button type="submit" class="btn btn-success">Calculate</button>
    </EditForm>
</div>

<table class="table table-responsive">
    @{
        if (newWeightCalculation.WeightsSelectedPerEnd.Where(x => x.Count > 0).Count() > 0)
        {
            <thead>
                <tr>
                    <th>Weight (kg)</th>
                    <th>Count (plates)</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in newWeightCalculation.WeightsSelectedPerEnd.Where(x => x.Count > 0))
            {
                <tr>
                    <th>@item.Weight</th>
                    <th>@item.Count</th>
                </tr>
            }
            </tbody>
        }
    }
</table>

@* <p>@elapsedTime.TotalSeconds</p> *@




